@import url("https://fonts.googleapis.com/css2?family=Ewert&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


.card {
  transform-style: preserve-3d;
  position: relative;
  padding: 25px;
  width: 350px;
  height: 550px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background: url("../Images/book9.png") no-repeat;
  background-size: cover;
  transition: all 0.1s ease;
  font-family: 'Shantell Sans', cursive;
  float: right;
  margin: 20px 0;
  color: #b42b2c;
}
.sneaaker-img {
  position: relative;
  width: 75%;
  height: auto;
  transition: all 0.5s ease;
  padding-left: 7%;
}
.card p {
  width: 75%;
  color: rgb(220, 220, 220);
}
.sizes-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.sizes-box li {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  background-color: rgb(220, 220, 220);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sizes-box li:hover {
  background-color: rgb(134, 134, 134);
}
.button-box {
  width: auto;
}
.purchase {
  
  cursor: pointer;
  color:bisque;
  width: auto;
  border-radius: 20px;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border: 2px solid #888888;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #880808;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.purchase:hover {
  background-color: #880808;
}
 .title {
  font-size: 35px;
  text-align: center;
  color: #b42b2c;
  right: 50%;
  width: 75%;
  font-family: 'Cedarville Cursive', cursive;
}
.card .tag {
  color: black;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}
