@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
.main {
  height: 100vh;
  width: 100vw;
  background-image: url("../Images/background-img-symp-new.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-y: auto;
  /* background-image: url("../Images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
  background-attachment: local;  */

  /* overflow: scroll; */

  /* cursor: url(../Images/gls1.png),auto; */

  /* background-color: black;
  visibility: hidden;  
  z-index: 9999; 
  transition: opacity 1s ease-in-out; 
  transition: all 0.1s ease; */
}

.main .video-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  visibility: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

#audio {
  position: fixed;
  z-index: -1;
  width: 100%;
}

.main .header {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.header .logo {
  width: 20%;
  animation: fadeIn-title 3s;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 90%;
  height: 30%;
  margin: 0 auto;
}

.header .content {
  width: 70%;
  height: 100%;
  text-align: center;
  font-size: 100%;
  

  /* position: absolute;
  top: 10%;
  left: 50%; */

  color: hsl(0, 0%, 28%);
  font-weight: bold !important;
  font-family: brittanic bold;
  letter-spacing: 5px !important;
  cursor: pointer;
  text-transform: uppercase;
  

  padding: 10px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0%,
    hsl(0, 0%, 100%) 50%,
    hsl(0, 0%, 30%) 60%,
    hsl(0, 0%, 100%) 90%,
    hsl(0, 0%, 30%) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn-title 3s, shine 3s infinite linear;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
}

.content h2 {
  width: 100%;
  font-size: 140%;
}

#name {
  font-size: 800%;
  word-spacing: -25px;
  /* text-shadow: 2px 2px #ffc400; */
}

#tagname {
  font-size: 250%;
}

.cardc1 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
}
.cardc2 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  flex-wrap: wrap;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}

.home .name {
  margin: 0 auto;
}
.cardc1 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;

  animation: fadeIn-card1 3s;
  transition: 1s;
}

.name p {
  font-size: 30px;
}
.cardc2 {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: space-around;
  margin: 100px auto;

  animation: fadeIn-card2 3s;

  transition: 2s;
}

.main .credits{
  width:100%;
  height: 35px;
  background: url("../Images/g1.jpg") no-repeat;
  opacity: 0.7;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.credits a{
  color: black;
  font-size: 16px;
  font-family: 'Shantell Sans', cursive;
  text-decoration: none;
  transform: none;
  font-weight: 800;

}


@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}

@keyframes fadeIn-title {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn-card1 {
  0% {
    opacity: 0;
    margin: 350px auto;
  }
  100% {
    opacity: 1;
    margin: 150px auto;
  }
}
@keyframes fadeIn-card2 {
  0% {
    opacity: 0;
    margin: 400px auto;
  }
  100% {
    opacity: 1;
    margin: 250px auto;
  }
}

/* 
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    background-color: black;
    visibility: hidden;  
    z-index: 9999; 
    transition: opacity 1s ease-in-out; 
  }
  
  .overlay.active {
    opacity: 0; 
    visibility: hidden;
    z-index: 9999; 
  }
   */

/* .main .background-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("../Images/background-img-symp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  animation: backgroundmotion 9s ease-in-out;
} */

.main .header-container {
  height: auto;
  width: 100%;
}

.header-container .header-logo {
  height: 100%;
  width: 20%;
}

.header-logo img {
  width: 95%;
  height: auto;
}
.header-container .header-content {
  color: aliceblue;
  height: 100%;
  width: 80%;
}

@media screen and (max-width: 850px) {
  .main .video-container {
    visibility: hidden;
  }
  .main .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo img {
    width: 300px;
    height: auto;
  }

  .header .content {
    width: 100%;
  }

  .content h2 {
    font-size: 110%;
  }

  #name {
    font-size: 320%;
    word-spacing: -25px;
  }

  #tagname {
    font-size: 60%;
  }
  .main .credits{
    flex-direction: column;
    height: auto;
  }
}
