/* .register .background-img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
} */

.register {
  height: 100vh;
  width: 100vw;
  background-image: url("../Images/bgguide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: auto;
}

.register .inputs-container {
  height: auto;
  width: 100%;
  /* background-color: rgba(255,255,255,0.2); */
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

/* .inputs-container .input-field {
  height: fit-content;
  width: 100%;
  max-width: 500px;
}
*/

.input-field .MuiTextField-root {
  background-color: white;
  margin: 30px auto;
  display: grid;
  align-items: center;
  width: 90%;
  border-radius: 7px;
}
